header .jiaguanzhu{
    position: absolute;
    right: 0;

    width: 1.26rem;
    height: 0.44rem;
    border-radius: 0.22rem;
    border: 0.02rem white solid;
    font-size: 0.22rem;
    color: #fff;

    text-align: center;
    line-height: 0.44rem;
    margin-right: 0.3rem;
}

header p{
    color: #fff;
    font-size: 0.3rem;
    line-height: 0.6rem;
}

.follow-content{
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
}

.follow-content-top{
    display: flex;
    align-items: center;
    padding: 0.24rem 0.2rem;
    justify-content: space-between;
    background: white;
}

.follow-content-top img{
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 50%;
    margin-right: 0.2rem;
}

.follow-content-top-left{
    display: flex;
}

.follow-content-top-left p{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.follow-content-top-left p b{
    font-size: 0.3rem;
}

.follow-content-top-left span{
    font-size: 0.2rem;
    color: #666;
}

.follow-content-top .jiaguanzhu{
    color: #f06000;
    border: 0.02rem solid #f06000;
    width: 1.12rem;
    height: 0.48rem;
    text-align: center;
    line-height: 0.48rem;
    border-radius: 0.24rem;

}

.follow-content-middle p{
    font-size: 0.26rem;
    margin: 0.2rem;
    color: #666;
}

.follow-content-bottom{
    background: white;
    display: flex;
    justify-content: space-around;
    padding: 0.28rem ;
    align-items: center;
}

.follow-content-bottom span{
    color: #666;
}

.follow-content-bottom .iconfont{
    font-size: 0.28rem;
}