.header-wrap{
    width: 7.5rem;
    height: 1.16rem;
    position: fixed;
    z-index: 9999;
}

header {
    border: 0.01rem solid #fffdef;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.14rem 0.22rem 0.14rem 0.22rem;
}

.icon-shoukuan,.icon-zhuanzhang{
    color: white;
    font-size: 0.42rem;
}

header input {
    background: #383838;
    color: #bababa;
    width: 3.9rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.23rem;
    border: 0;
    border-radius: 0.1rem;
}

header .icon-sousuo {
    font-size: 0.2rem;
    color: #bababa;
    position: absolute;
    left: 50%;
    margin-left: -0.9rem;
}

/*****************   nav   ********************/

nav{
    margin-top: 1.16rem;
    border: 0.01rem solid #d5d6da;
    height: 0.71rem;
    background: white;
    display: flex;
    z-index: 990;
}

nav span{
    width: 0.8rem;
    text-align: center;
    line-height: 0.71rem;
    font-size: 0.3rem;
    font-weight: bold;
    color: #888888;
}

nav ul{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav li{
    text-align: center;
    width: 20%;
    position: relative;

}

nav li a{
    font-size:0.28rem;
    color: #666666;
}

.current{
    color: #f06000;
}

.current::after {
    content: '';
    width: 0.34rem;
    height: 0.04rem;
    background: #f06000;
    position: absolute;
    left: 50%;
    bottom: -0.16rem;
    margin-left: -0.17rem;
}

.banner{
    width: 7.5rem;
    min-height: 4.16rem;

    background: white;

    display: flex;
    flex-direction: column;
}

.banner p{
    height: 0.66rem;
    text-align: center;
    line-height: 0.66rem;
    color: #666;
    font-size: 0.25rem;
}

main {
    background: white;
    margin-top: 0.12rem;
}

.main-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.18rem;
    font-size: 0.28rem;
    margin-top: 0.35rem;
}

.icon-aixinjuanzeng{
    font-size: 0.4rem;
    margin-right: 0.05rem;
}

.main-top p:nth-child(1){
    position: relative;
}

.main-top p:nth-child(1)::before {
    content: '';
    width: 0.06rem;
    height: 0.26rem;
    background: #f06000;
    position: absolute;
    left: -0.2rem;
    border-radius: 0.02rem;
    top: 0.05rem;
}

.main-top p:nth-child(2){
    color: #f06000;
}

.main-content{
    display: flex;
    margin-block: 0.37rem;
}

.main-content-item{
    flex: 1;
    /*width: 45%;*/

    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-content-item img{
    max-width: 3.66rem;
    min-height: 2.06rem;
}


.main-content-item p{
    margin: 0.18rem 0 0 0.2rem;
    display: flex;
    flex-direction: column;
    font-size: 0.28rem;
    width: 100%;
}

.main-content-item p span{
    font-size: 0.22rem;
    color: #666;
}













