.icon-saoyisao{
    color: #fff;
    position: absolute;
    right: 0.32rem;
}

header{
    border: 0;
    background: #423c3c;
}

.header-wrap > .iconfont{
    border-radius: 50%;
    width: 1.36rem;
    height: 1.36rem;
    border: white 0.06rem double;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #edebe4;
}

.header-wrap .icon-taopiaopiaoicon{
    position: absolute;
    font-size: 0.75rem;
    z-index: 999;
    color: #7e7d7a;
    left: 50%;
    margin-left: -0.75rem;
    top: 0.6rem;
}

.banner {
    min-height: 0;

}

.me-content{
    font-size: 0.25rem;
    margin-top: 0.09rem;
    background: white;
    display: flex;
    flex-direction: column;
    padding: 0 0.35rem 0 0.3rem;
}

.me-content-item{
    justify-content: space-between;
    width: 100%;
    display: flex;
    padding: 0.28rem 0;
}

.me-content-item-left{
    display: flex;
    align-items: center;
}

.me-content-item{
    position: relative;
}

.me-content-item::after{
    content: '';
    height: 0.01rem;
    width: 7.2rem;
    background: #e9e9ed;
    position: absolute;
    bottom: 0;
}

.me-content-item:nth-last-child(1)::after{
    display: none;
}

.me-content-item-left .iconfont{
    font-size: 0.4rem;
    color: #c1c1c1;
    margin-right: 0.3rem;
}