header {
    justify-content: center;
    position: relative;
}

header p {
    height: 0.6rem;
    display: flex;
}

header span {
    color: goldenrod;
}

header span:nth-child(1) {
    font-size: 0.5rem;
    margin-right: 0.05rem;
}

header span:nth-child(2) {
    font-weight: bold;
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 0.28rem;
}

header .icon-sousuo {
    font-size: 0.2rem;
    color: #bababa;
    position: absolute;
    left: 100%;
    margin-left: -0.9rem;
}

.banner-vip {
    height: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 0.2rem;

    background-image: linear-gradient(to right, #dbb058, #eec46d);
    font-size: 0.2rem;
    color: #fff;
}

.banner-vip-left {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner-vip-left > span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0.6rem;
    height: 0.6rem;
    background: #fff0d2;
    border-radius: 50%;
    margin-right: 0.22rem;
    color: #e2c17a;
    font-size: 0.5rem;
}


.banner-vip > span {
    width: 1.28rem;
    height: 0.4rem;
    border-radius: 0.2rem;
    border: 0.01rem solid white;
    text-align: center;
    line-height: 0.4rem;
}

.main-content{
    flex-wrap: wrap;
}

.main-content-item {
    margin-bottom: 0.46rem;
}


.main-top p{
    display: flex;
    /*width: 100%;*/
}

.main-content-item > p > span{
    margin-top: 0.15rem;
}